<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Com.Gmail.Birklid.Ray.Tipsy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Com.Gmail.Birklid.Ray.Tipsy.Properties.Settings>
            <setting name="MaximumLogAge" serializeAs="String">
                <value>10.00:00:00</value>
            </setting>
        </Com.Gmail.Birklid.Ray.Tipsy.Properties.Settings>
    </userSettings>
</configuration>